<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partial/header.ejs") %>

    <style>
      .container-4 {
        width: 90%;

        margin: 10px auto;
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
        padding-bottom: 40px;
      }
      .heading {
        width: 100%;
        background-color: #444040;
        color: #fff;
        padding: 10px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <%- include("partial/nav.ejs") %>
    <main>
      <div class="container-4">
        <div class="heading">
          <h1>About Us</h1>
        </div>
        <br />
        <p style="line-height: 2; width: 70%; margin: 20px auto">
          Welcome to the vibrant hub of creativity, talent, and camaraderie at
          NIT Warangal! As MCA 1st year students, we are thrilled to introduce
          you to our ambitious venture: the centralized Clubs & Societies
          project. We, Dwiden Brahma, Yash Paunickar, Shubham, and Varun
          Harlalka, are fueled by a collective passion to enrich the campus
          experience for every student. Nestled in the heart of Warangal, the
          National Institute of Technology stands as a beacon of excellence in
          the realm of technical education. However, our vision extends beyond
          academics. We recognize the pivotal role that extracurricular
          activities play in holistic development. Hence, we embarked on this
          journey to revolutionize the way students engage with clubs and
          societies on campus. At the core of our initiative lies a commitment
          to inclusivity and diversity. We firmly believe that every student
          possesses unique talents and interests waiting to be explored. By
          centralizing the management of clubs and societies, we aim to break
          down barriers and foster a sense of belongingness among all members of
          the NITW community. Our platform serves as a one-stop destination for
          students to discover, join, and actively participate in a myriad of
          clubs and societies. Whether your passion lies in coding, robotics,
          music, dance, literature, or sports, there's something here for
          everyone. We strive to cater to a wide spectrum of interests, ensuring
          that no talent goes unnoticed or underappreciated. With our
          user-friendly interface, navigating through the plethora of options is
          a breeze. Browse through detailed profiles of each club or society,
          learn about their mission, activities, and upcoming events, and
          connect with like-minded peers effortlessly. Gone are the days of
          scattered information and missed opportunities – we're here to
          streamline the entire process for you. Moreover, our platform serves
          as a catalyst for personal growth and skill development. Engaging in
          extracurricular activities not only enriches your college experience
          but also equips you with invaluable life skills such as leadership,
          teamwork, time management, and communication. Whether you're a
          freshman eager to explore new passions or a senior looking to leave a
          lasting legacy, our platform provides the perfect avenue to unleash
          your potential. However, our journey doesn't end with mere
          facilitation. We are committed to nurturing a thriving ecosystem where
          clubs and societies flourish. Through regular workshops, seminars, and
          mentorship programs, we empower club leaders with the knowledge and
          resources needed to excel in their roles. Additionally, we foster
          collaboration and synergy among different groups, encouraging
          interdisciplinary projects and initiatives that push the boundaries of
          innovation. As MCA 1st year students, we're well aware of the
          challenges that come with managing such a monumental project. Yet, we
          embrace these challenges with unwavering determination and enthusiasm.
          With the support of our peers, faculty, and administration, we are
          confident in our ability to realize our vision of a vibrant,
          inclusive, and dynamic campus community. In conclusion, the
          centralized Clubs & Societies project is more than just a platform –
          it's a testament to the spirit of unity and creativity that defines
          NIT Warangal. Together, let's embark on this journey of exploration,
          growth, and camaraderie. Join us, as we pave the way for a brighter,
          more enriching college experience for all. Thank you for being a part
          of this exciting chapter in our campus's history.<br /><br />

          Warm regards,<br />

          <b>Dwiden Brahma, Yash Paunickar, Shubham, and Varun Harlalka</b
          ><br />
        </p>
      </div>
    </main>
    <%- include("partial/footer.ejs") %>
  </body>
</html>
