<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Auth</title>

    <link rel="stylesheet" href="/css/auth.css" />
  </head>
  <body>
    <form action="/admin/auth" method="post">
      <h1>Admin Login</h1>
      <input type="text" name="roll" placeholder="User ID" />
      <input
        type="password"
        name="password"
        placeholder="enter your password" />

      <button type="submit">submit</button>
    </form>
  </body>
</html>
