<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/error.css" />
  </head>
  <body>
    <main>
      <div class="error-container">
        <h1><%= error %></h1>
        <h1>Oops! Something Went Wrong</h1>
        <p>
          We're sorry, but something unexpected happened. Our team has been
          notified of the issue and we're working to fix it as soon as possible.
          Please try again later.
        </p>

        <a href="/">Go to homepage</a>
        <a href="mailto:db23mcf1r10@student.nitw.ac.in">Report a problem</a>
      </div>
    </main>
  </body>
</html>
