<footer>
  <div class="footer-f">
    <div class="footer-items mail">
      <a class="footera" href="mailto:db23mcf1r10@student.nitw.ac.in"
        >Mail to us</a
      >
    </div>
    <div class="footer-items privacy">
      <a class="footera" href="#index.html">Privacy and policy</a>
    </div>
    <div class="footer-items">
      <p>Follow us on</p>
      <ul>
        <li>
          <a class="footera" href="https://twitter.com">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a class="footera" href="https://twitter.com">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a class="footera" href="https://facebook.com">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a class="footera" href="https://youtube.com">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="college">
    <div class="logo-div">
      <img src="/image/logo.png" id="img" />
      <div class="head-title">
        <span>राष्ट्रीय प्रौद्योगिकी संस्थान, वारंगल</span> <br />
        <span>National Institute Of Technology, Warangal</span> <br />
        <span>An Institute of National Importance</span>
      </div>
    </div>
  </div>

  <div class="rights">
    <p>Copyright © 2024 Clubs and Society</p>
  </div>
</footer>

<!-- footer section end -->
